<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
<ul>

  <li>名前</li>
    <div class="field">
      <span>氏名</span>
      <%= f.label :first_name, "姓" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>

      <%= f.label :last_name, "名" %>
      <%= f.text_field :last_name, autocomplete: "last_name" %>
    </div>

    <div class="field">
      <span>フリガナ</span>
      <%= f.label :rubi_first_name, "セイ" %>
      <%= f.text_field :rubi_first_name, autocomplete: "rubi_first_name" %>

      <%= f.label :last_name, "メイ" %>
      <%= f.text_field :last_name, autocomplete: "rubi_last_name" %>
    </div>

  <li>生年月日</li>
    <div class="field">
      <%= f.label :birthdate %>
      <%= raw sprintf(
        f.date_select(
          :birthdate, use_month_numbers: true, start_year:(Time.new.year - 18), default: Date.new(1990, 1, 1), date_separator: '%s'), '年', '月') + '日' %>
    </div>
  
  <li>住所
    <div class="field">
      <%= f.label :postcode, "郵便番号" %>
      <%= f.text_field :postcode, autocomplete: "postcode", placeholder:"ハイフンなし" %>
    </div>
    
    <div class="field">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, autocomplete: "address" %>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :tel, "電話番号" %>
      <%= f.text_field :tel, autocomplete: "tel", placeholder:"ハイフンなし" %>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :password, "パスワード" %><% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </li>

</ul>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
