<body style="background-image: initial;">
<div class="page_title">
<h1>アーティスト名編集</h1>
</div>

<div class="container">
<div class="row" style="text-align: center;">


<%= form_for(@artist) do |f| %>

	<%= f.label 'アーティスト名' %>
	<%= f.text_field :name %><br>
	<%= f.label 'かな(記号不可)' %>
	<%= f.text_field :rubi_name %>
	<br><br><br>

  <%= f.submit 'アーティスト名変更', class: "btn btn-primary" %>

<% end %>




</div>
</div>

</body>
