<div class="page_title">
  <h1>アーティスト・レーベル・ジャンル新規登録</h1>
</div>s


<div class="container">


   <% if @artist.errors.any? %>
        <div id="error_explanation">
        <h2><%= @artist.errors.count %>件のerrorが発生しました。</h2>
        <ul>
        <% @artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>


  <div class="center" style="text-align: center;">
    
    <div class="row" style="margin-top: 50px;">
      <p>新たに登録したいもの全てに入力してください</p>
    </div>

    <div class="row" style="margin-top: 20px; position: relative;">  
     
      <%= form_for @artist, url: artists_labels_genres_new_path do |f| %>
           <div class="col-lg-4">
              <%= f.label 'アーティスト名' %>
              <%= f.text_field :name %><br>
              <%= f.label 'かな（記号不可）' %>
              <%= f.text_field :rubi_name %>
          </div>


        <div class="col-lg-4">
            <!-- 関連性のない別のモデルを入れ込む表示 -->
            <%= fields_for @label, artists_labels_genres_new_path do |c| %>
            <%= c.label 'レーベル名' %>
            <%= c.text_field :name %>
            <%= f.label 'かな（記号不可）' %>
            <%= f.text_field :rubi_name %>
            <% end %>
        </div>
          

        <div class="col-lg-4">
            <!-- 関連性のない別のモデルを入れ込む表示 -->
            <%= fields_for @genre, artists_labels_genres_new_path do |a| %>
            <%= a.label 'ジャンル名' %>
            <%= a.text_field :name %>
            <% end %>
        </div>



         <div class="block" style="position: absolute; top: 100px; right: 50%;">
            <%= f.submit '新規登録', class: "btn btn-primary"%>
         </div>

      <% end %>

    </div>


  </div>



</div>
