<div class="page_title">
  <h1>アーティスト・レーベル・ジャンル新規登録</h1>
</div>


<div class="container">


  <div class="center" style="text-align: center;">
    
    <div class="row" style="margin-top: 50px;">
      <p>新たに登録したいもの全てに入力してください</p>
    </div>

    <div class="row" style="margin-top: 20px;">  
      <%= form_for @artist, url: artists_labels_genres_new_path do |f| %>
      <%= f.label 'アーティスト名' %>
      <%= f.text_field :name %>
      

      <!-- 関連性のない別のモデルを入れ込む表示 -->
     
      <%= fields_for @label, artists_labels_genres_new_path do |c| %>
      <%= c.label '　　レーベル名' %>
      <%= c.text_field :name %>
      <% end %>
      

      <!-- 関連性のない別のモデルを入れ込む表示 -->
      <%= fields_for @genre, artists_labels_genres_new_path do |a| %>
      <%= a.label '　　ジャンル名' %>
      <%= a.text_field :name %>
      <% end %>
    </div>


      <div class="row" style="margin-top: 100px;">
        <div class="block" style="display: block;">
          <%= f.submit '新規登録', class: "btn btn-primary"%>
        </div>
      </div>
    
      <% end %>
    </div>



</div>
