
<div class="buyhistory container">
	<div class="row">
		<h2>購入履歴一覧</h2>

			<% if @user.buy_infos.present? %>
			<div class="col-xs-12">
				<% @buy_infos.each do |buy_info| %>
			        <h3>購入日： <%= buy_info.created_at.strftime('%Y/%m/%d %H時%M分') %><span class="buystatus">受注情報：<%= buy_info.buy_status %></span></h3>

		        <div class="col-xs-12">
					<% buy_info.buy_items.each do |buy_item| %>
					<!-- refileを適用できるようにする -->
					<div class="buyitem-block" %>
		                <%= link_to buy_info_path(buy_item.buy_info.id) do %><%= attachment_image_tag buy_item.item, :image, :fill, 220, 220, format:'jpg', fallback: '/images/no_image.jpg' %><% end %><br>
						<div class="buyitem-artist"><%= buy_item.item.name %></div>
						<div class="buyitem-name"><%= buy_item.item.artist.name %></div>
					</div>
			        <% end %>
			    </div>
			    <% end %>
			</div>

			<!-- 購入履歴がない場合 -->
		<% else %>
			<h4>購入履歴はありません</h4>
	    <% end %>
	</div>
</div>