<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-6 col-xs-offset-3">
      <fieldset>


      <h2>新規会員登録</h2>
      <hr class="colorgraph">

      <div class="form">

        <%= form_for @user, :url => {:action => 'update'} do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>

      <ul>

        <li><%= f.label :last_name, "名前" %></li>

          <div class="form-group form-inline">
              <%= f.label :last_name, "氏名", class:"form-inline" %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"姓", class:"form-control" %>

              <%= f.text_field :first_name, autocomplete: "first_name", placeholder:"名", class:"form-control" %>
          </div>

          <div class="form-group form-inline">
            <%= f.label :rubi_last_name, "フリガナ", class:"form-inline" %>
            <%= f.text_field :rubi_last_name, autocomplete: "rubi_last_name", placeholder:"セイ", class:"form-control" %>

            <%= f.text_field :rubi_first_name, autocomplete: "rubi_first_name", placeholder:"メイ", class:"form-control" %>
          </div>

        <li><%= f.label :postcode, "住所" %></li>
          <div class="form-group form-inline">
            <%= f.label :postcode, "郵便番号" %>
            <%= f.text_field :postcode, autocomplete: "postcode", placeholder:"ハイフンなし", class:"form-control" %>
          </div>

          <div class="form-group form-inline">
            <%= f.label :address, "住所" %>
            <span class="form-address">
            <%= f.text_field :address, autocomplete: "address", class:"form-control" %>
            </span>
          </div>

        <li>
          <div class="form-group-another form-inline">
            <%= f.label :tel, "電話番号" %>
            <%= f.text_field :tel, autocomplete: "tel", placeholder:"ハイフンなし", class:"form-control" %>
          </div>
        </li>

        <li>
          <div class="form-group-another form-inline">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
          </div>
        </li>

        <li>
          <div class="form-group-another form-inline">
            <%= f.label :password, "パスワード" %><% if @minimum_password_length %>
            <em>(半角<%= @minimum_password_length %>文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>
        </li>

        <li>
          <div class="form-group-another form-inline">
            <%= f.label :password_confirmation, "パスワード確認" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>
        </li>
      </ul>

      <hr class="colorgraph">

      <div class="row">
        <div class="actions col-xs-offset-2 col-xs-8">
          <%= f.submit "登録", class:"btn-square btn-lg" %>
        </div>
      </div>

      <% end %>
      </div>

      </fieldset>
    </div>
  </div>

</div>

