<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>ユーザ一覧</h2>
			<table>
				<thead>
					<tr>
						<th>ユーザID</th>
						<th>ユーザ名</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%= @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.fisrt_name %><%= user.last_name %></td>
						<td><% if user.status == false %>（退会済み） %></td>
						<td><%= link_to "詳細", user_path(user.id) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>