<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="userindex-title">ユーザ一覧</h2>
			<table class="userindex-table">
				<thead>
					<tr>
						<th>ユーザID</th>
						<th>ユーザ名</th>
						<th>ステータス</th>
						<th>ユーザ詳細</th>
						<th>ユーザ編集</th>
						<th>ユーザ退会</th>
						<th>権限</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |users| %>
					<tr>
						<td><%= users.id %></td>
						<td class="name"><%= users.last_name %> <%= users.first_name %></td>
						<td><% if users.status == false %>（退会済み）<% end %></td>
						<td><%= link_to "詳細", user_path(users.id) %></td>
						<td><%= link_to "編集", edit_user_path(users.id) %></td>
						<td><% if users.admin == false %><%= link_to "退会", user_withdraw_path(users.id), method: :patch, data:{confirm:"本当に退会させますか?"} %><% end %></td>
						<td><% if users.admin == true %>管理者<% end %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>