
<!-- --カレントユーザーがadmin出ない時の処理-- -->
<% if @user.admin == false %>


<div class="mypage container">

    <div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			<table class="table userinfo-table">
				<tr>
					<th class="info" colspan="2">登録情報</th>
				</tr>
				<tr>
					<td class="table-left">名前：<%= @user.last_name %> <%= @user.first_name %></td>
					<td class="table-right">フリガナ：<%= @user.rubi_last_name %> <%= @user.rubi_first_name %></td>
				</tr>
				<tr>
					<td class="table-left">〒：<%= @user.postcode[0,3] %>-<%= @user.postcode[3,7] %></td>
					<td class="table-right">住所：<%= @user.address %></td>
				</tr>
				<tr>
					<td class="table-left">TEL：<%= @user.tel %></td>
					<td class="table-right">Email：<%= @user.email %></td>
				</tr>
				<tr>
					<td class="table-join" colspan="2">生年月日：<%= @user.birthdate %></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-5 col-xs-2">
			<%= link_to "登録情報の変更", edit_user_path(@user.id), class:"btn btn-info btn-block" %>
		</div>
	</div>

	<div class="row">
		<h3>購入履歴</h3>

        <!-- 購入履歴がある場合 -->
		<% if @user.buy_infos.present? %>
			<div class="col-xs-9">
				<h4>購入日<%= @user.buy_infos.order(:created_at).last.created_at.strftime('%Y/%m/%d') %></h4>
			</div>

	        <div class="col-xs-12">
				<% @user.buy_infos.order(:created_at).last.buy_items.last(3).each do |buy_item| %>
					<div class="buyitem-block" >
		                <%= link_to item_path(buy_item.item.id) do %><%= attachment_image_tag buy_item.item, :image, :fill, 200, 200, format:'jpg', fallback: "no_image.jpg" %><br>
						<div class="buyitem-artist"><%= buy_item.item.artist.name %></div><br>
						<div class="buyitem-name"><%= buy_item.item.name %></div>
						<% end %>
					</div>
				<% end %>
			</div>

		    <div class="col-xs-offset-9 col-xs-3">
			    <%= link_to "全ての購入履歴", user_buy_history_path(@user.id), class:"btn btn-success btn-block" %>
			</div>

			<!-- 購入履歴がない場合 -->
		<% else %>
			<h4>購入履歴はありません</h4>
	    <% end %>
	</div>


    <% if current_user.admin == false %>

		<div class="row">
			<div class="col-xs-1">
				<%= link_to "退会?", users_withdraw_view_path, class:"withdraw-btn btn btn-block" %>
			</div>
		</div>

	<% end %>

</div>
<!-- --ここまで-- -->


<!-- カレントユーザーがadminの時の処理 -->
<% else %>

<div class="admin-mypage">

	<h3>管理者マイページ</h3>

	<div class="container">

		<div class="row first-box">
			<div class="col-xs-3">
				<%= link_to "商品新規登録", new_item_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
			<div class="col-xs-3">
				<%= link_to "商品一覧", items_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
			<div class="col-xs-3">
				<%= link_to "ユーザ一覧", users_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
			<div class="col-xs-3">
				<%= link_to "受注情報一覧", buy_infos_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
		</div>

		<div class="row second-box">
			<div class="col-xs-3">
				<%= link_to "アーティスト・レーベル・ジャンル登録", artists_labels_genres_new_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
			<div class="col-xs-3 col-xs-offset-3">
				<%= link_to "アーティスト・レーベル・ジャンル一覧", artists_labels_genres_index_path, class:"btn btn-primary btn-lg btn-admin" %>
			</div>
		</div>

	</div>

</div>

<% end %>
<!-- --ここまで-- -->

