<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-6 col-xs-offset-3">

      <fieldset>


      <h2>ログイン</h2>

      <div class="form">

        <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <hr class="colorgraph">

      <ul>

        <li>
          <div class="form-group form-inline">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
          </div>
        </li>

        <li>
          <div class="form-group form-inline">
            <%= f.label :password, "パスワード" %><% if @minimum_password_length %>
            <em>(半角英数<%= @minimum_password_length %>文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>
        </li>

      </ul>

      <hr class="colorgraph">

      <div class="row">
        <div class="actions col-xs-8 col-xs-offset-2">
          <%= f.submit "ログイン", class:"btn-square btn-lg" %>
        </div>
      </div>

      <% end %>
    </div>

      <div class="row">
        <div class="col-xs-offset-8 col-xs-4 form-inline">

        <span class="signup-guide">新規アカウントの作成は⬇︎</span>
        <%= link_to "新規登録", new_user_registration_path, class:"btn btn-sm btn-success btn-block" %>
        </div>

      </div>
      </fieldset>
    
    </div>
  </div>
</div>


