<div class="page_title">
<h1>商品一覧画面</h1>
</div>

<div class="container">
<div class="row">


<% @items.each do |item| %>

	<div class="CD_container col-lg-3" style="text-align: center; margin-top: 40px;">
		<%= link_to item_path(item.id) do %>
			<%= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg', fallback: '/images/no_image.jpg', size:'200x200' %>
			<p>CD名：<%= item.name %></p>
		<% end %>
		<p><%= item.artist.name %></p>
		<p>価格：<%= tax_included(item.price) %>円(税込)</p>

          <!-- ログインしているユーザーのみ管理者権限の判定を行う -->
        <% if user_signed_in? %>
	      <!-- 管理者権限・アドミンがtrueならば -->
	      <% if current_user.admin? %>
             <% if item.stock >= 11 %>
	       		  <%= item.stock %>
	         <% else %>
                <div style="color: red;">
                  <%= item.stock %>
                </div>
             <% end %>
	      <% end %>
	    <% end %>

	</div>

<% end %>
</div>

<div class="row" style="text-align: center;">
  <%= paginate @items %>
</div>
</div>

