<div class="page_title">
<h1>商品詳細</h1>
</div>

<div class="container">
<div class="row">

	<div class="col-lg-2">
	</div>

	<div class="col-lg-3">
	  <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg', fallback: '/images/no_image.jpg' %><br>

	       　 <!-- ログインしているユーザーのみ管理者権限の判定を行う していない場合カートボタン表示-->
              <% if user_signed_in? %>


	             <!-- 管理者権限・アドミンがtrueでないならば表示　＝管理者には表示しない -->
	             <% unless current_user.admin? %>

	               <% if @stock <= 0 or @item.status_before_type_cast == 1 %>

	               <p class="text-danger">申し訳ございません。只今、取り扱いできません。</p>


	               <% else %>

                        <ul class="list-group" style="margin-top: 30px;">

	  　　　　             <li class="list-group-item" style="text-align: center; font-weight: bold;">
			 　　           カートに入れる</li>


				           <%= form_for @cart, url: item_cart_items_path(@item.id) do |f| %>

					           <li class="list-group-item" style="font-weight: bold; text-align: center;">
						       数量  <%= f.number_field :buy_count, min: 1, value: 1 %><br><br>


						       <%= f.submit 'カートに入れる', class: "btn btn-success btn-sm" %></li>

				           <% end %>

				        </ul>

				    <% end %>

				 <% end %>

			  <% else %>

　　　　　　　　　　<% if @stock <= 0 or @item.status_before_type_cast == 1 %>

	               <p class="text-danger">申し訳ございません。只今、取り扱いできません。</p>


	               <% else %>

			            <ul class="list-group" style="margin-top: 30px;">

			              <li class="list-group-item" style="text-align: center; font-weight: bold;">
			 　　          カートに入れる</li>


				           <%= form_for @cart, url: item_cart_items_path(@item.id) do |f| %>

					           <li class="list-group-item" style="font-weight: bold; text-align: center;">
						       数量  <%= f.number_field :buy_count, value: 1 %><br><br>


						       <%= f.submit 'カートに入れる', class: "btn btn-success btn-sm" %></li>

			               <% end %>
			            </ul>

　　　　　　　　　　 <% end %>

			  <% end %>


        <!-- ログインしているユーザーのみ管理者権限の判定を行う -->
        <% if user_signed_in? %>

	      <!-- 管理者権限・アドミンがtrueならば -->
	      <% if current_user.admin? %>

                   <div class="admin_botton" style="margin-top: 200px;">
			           <%= link_to "編集", edit_item_path(@item.id), class: "btn btn-success btn-xs" %>
				       <%= link_to "削除", item_path(@item.id), method: :delete, "data-confirm" => "本当に削除してもいいですか。", class: "btn btn-danger btn-xs" %>
				   </div>
		  <% end %>

		<% end %>

	</div>

	<div class="col-lg-1">
	</div>

	<div class="col-lg-4">

		<ul class="list-group">

			<li class="list-group-item" style="text-align: center; font-weight: bold;">
			  商品情報</li>

			<li class="list-group-item" style="font-weight: bold;">
			  シングル/アルバム名：<%= @item.name %></li>

            <li class="list-group-item" style="font-weight: bold;">
			  アーティスト：<%= @artist.name %></li>

            <li class="list-group-item" style="font-weight: bold;">
			  レーベル：<%= @label.name %></li>

			<li class="list-group-item" style="font-weight: bold;">
			  ジャンル：<%= @genre.name %></li>


            <% @discs.each do |disc| %>
            <li class="list-group-item" style="font-weight: bold;">
			  ディスク名：<%= disc.name %>

               <table class="table">


		                     <% disc.songs.each do |song| %>

		                     <tbody>
		                     	   <tr>
		                     	   	  <th><%= song.number %></th>
                                      <th> <%= song.name %></th>
                                   </tr>
                             </tbody>

                             <% end %>
               </table>

		     </li>
		     <% end %>

		     <li class="list-group-item" style="font-weight: bold;">
			  価格（税込）：<%= tax_included(@item.price) %></li>

             <li class="list-group-item" style="font-weight: bold;">
			  ステータス：<%= @item.status %></li>

			  <li class="list-group-item" style="font-weight: bold;">
			    在庫数：<% case @stock
			              when -Float::INFINITY..0 %><span class="text-danger"><%= "売り切れ" %></span>
			             <% when 1..50 %><%= "残りわずか" %><span class="text-danger pull-right"><%= "あと#{@stock}個です！" %></span>
			             <% else %><%= "余裕あり" %>
			           <% end %></li>
		</ul>



	<div class="col-lg-2">
	</div>

</div>
</div>
