<!DOCTYPE html>
<html>
  <head>
    <title>ManziRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          </button>
          <%= link_to "卍Record", root_path, class: "navbar-brand 卍header" %>
        </div>

        <form class="navbar-form navbar-left " role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索キーワードを入れてください">
        </div>
        <button type="submit" class="btn btn-default">検索</button>
      </form>

        <div class="collapse navbar-collapse" id="navbarEexample">
          <% if 1 == 1 %><!-- ゲストユーザのとき -->
          <div class="nav navbar-nav navbar-right nav-menu">
            <button type="button" class="btn btn-default navbar-btn"><%= link_to "会員登録", new_user_registration_path %></button>
            <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログイン", new_user_session_path %></button>
            <button type="button" class="btn btn-default navbar-btn"><%= link_to "カート", guest_cart_path %></button><!--ゲストユーザ用カートのルーティング要検討-->
          </div>

          <% elsif user == admin %> <!--adminのとき-->
              <div class="nav navbar-nav navbar-right nav-menu">

              <button type="button" class="btn btn-default navbar-btn"><%= link_to "マイページ", user_path(current_user.id) %></button>
              <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>

              </div>

          <% else %><!--ユーザがログインしたとき-->
            <div class="nav navbar-nav navbar-right nav-menu">

            <button type="button" class="btn btn-default navbar-btn"><%= link_to "マイページ", user_path(current_user.id) %></button>
            <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
            <button type="button" class="btn btn-default navbar-btn"><%= link_to "カート", user_cart_path(current_user.id) %></button>

            </div>
          <% end %>
        </div>
      </div>
    </nav>


    <%= yield %>

      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarfooter">
            </button>
            <%= link_to "卍Record", root_path, class: "navbar-brand 卍footer" %>
          </div>

          <div class="collapse navbar-collapse" id="navbarfooter">

            <div class="footer-terms">
                <a>利用規約</a>
                <span>|</span>
                <a>プライバシー規約</a>
            </div>

            <span class="navbar-text navbar-right welcome-message">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</span>

            <!-- devise導入後、ログインユーザ名が表示されるようにする予定 -->
          </div>
        </div>
      </nav>

  </body>
</html>
