<!DOCTYPE html>
<html>
  <head>
    <title>ManziRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">

          <!-- ロゴ -->
          <div class="col-sm-3 navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
            </button>
            <%= link_to "卍Record", root_path, class: "navbar-brand 卍header" %>
          </div>

          <!-- 検索機能 -->
          <div class="col-sm-6 search-form">
            <%= search_form_for @search, url: items_search_result_path, class:"search form-inline" do |f| %>
                <%= f.label :genre_id_eq, 'ジャンル', class:"control-label" %>
                <%= f.collection_select( :genre_id_eq, @genres, :id, :name, {include_blank: '指定なし'}, {class:"form-control"}) %>
                <%= f.label :artist_name_or_name_cont, '商品名', class:"control-label" %>
                <%= f.search_field :artist_name_or_name_cont, class:"form-control field", placeholder:"検索ワードを入力してください" %>
                  <span class="input-group-btn"><%= button_tag sanitize('<i class="glyphicon glyphicon-search"></i>'), :type => "submit",:class =>"btn  btn-info" %></span>
            <% end %>
          </div>

          <!-- 右側リンク -->
          <div class="col-xm-3 collapse navbar-collapse" id="navbarEexample">
            <% if user_signed_in? && current_user.admin == false %><!--ユーザがログインしたとき-->
            <div class="nav navbar-nav navbar-right nav-menu">

              <%= link_to "マイページ", user_path(current_user.id), class:"btn btn-default" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-default" %>
              <%= link_to "カート", users_cart_path, class:"btn btn-default" %>

              </div>

            <% elsif user_signed_in? && current_user.admin == true %> <!--adminのとき-->
                <div class="nav navbar-nav navbar-right nav-menu">

                <%= link_to "マイページ", user_path(current_user.id), class:"btn btn-default" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-default" %>

                </div>

            <% else %><!-- ゲストユーザのとき -->
              <div class="nav navbar-nav navbar-right nav-menu">
              <%= link_to "会員登録", new_user_registration_path, class:"btn btn-default" %>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-default" %>
              <%= link_to "カート", users_cart_path, class:"btn btn-default" %><!--ゲストユーザ用カートのルーティング要検討-->
            </div>

            <% end %>
          </div>
        </div>
      </div>

    </nav>

    <%= render 'layouts/flash_messages' %>


    <%= yield %>


      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarfooter">
            </button>
            <%= link_to "卍Record", root_path, class: "navbar-brand 卍footer" %>
          </div>

          <div class="collapse navbar-collapse" id="navbarfooter">

            <div class="footer-terms">
                <a>利用規約</a>
                <span>|</span>
                <a>プライバシー規約</a>
            </div>

            <% if user_signed_in? %>
              <span class="navbar-text navbar-right welcome-message">ようこそ <%= current_user.last_name %>さん</span>
            <% else %>
            <span class="navbar-text navbar-right welcome-message">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん</span>
            <% end %>

            <!-- devise導入後、ログインユーザ名が表示されるようにする予定 -->
          </div>
        </div>
      </nav>

  </body>
</html>
